/.project
/_gsdata_
/cygwin
/cygwin-portable.cmd
/cygwin-portable-updater.cmd
/cygwin-portable-installer-config.cmd
/conemu
.settings/
**/.*.md.html
*.sublime-workspace
*.log
*.log.full
**
